/* body {
    background: black;
}
.title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: white;
    height: 100vh;
} */
