section.side_ber_feature {
    height: 87vh;
}
section.side_ber_feature {
    height: 87vh;
}
.sideber_feature_container {
    grid-template-columns: 20% 80%;
    align-items: center;
    height: 100%;
    padding: 0px 25px;
    display: grid;
}
.side_nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.side_nav svg {
    font-size: 25px;
}
